delorean
seaborn
pygal
mpld3
cairosvg==1.0.22
pyhs2 
shapely 
descartes
pyproj 
folium 
vincent 
pam
py4j 
autopep8
pymongo 
tqdm 
watermark 
python-dotenv 
cookiecutter
requests>=2.11
coverage 
modernize
future
pylint
mock
